body {
    margin: 0;
    background-color: black;
}


.menu {
    border: 2px solid blue;
    background-color: black;
}

.AnimeScope {
    height: 90px;
    width: auto;
    display: flex;
    overflow: hidden;
    
}

.AnimeScopeImg {
    max-width: 100%;
    max-height: 100%;
}

.cuenta{
    background-color: orange;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px; 
}


.cuerpo {
    background-color: black;
    border: 2px solid red;
    height: 1700px;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: black;

    
}

.carousel-text {
    flex: 1;
    padding: 20px;
    max-width: 50%;
    color: aliceblue;
}

.carousel-image {
    flex: 1;
    max-width: 50%;
}

.carousel-image img {
    width: 100%;
    height: 500px;
}

.anime {
    margin: 50px;
    border: 1px solid blueviolet;
    height: 200px;
    width: 150px;
}

