body {
    margin: 0;
    background-color: black;
}


.menu {
    border: 2px solid blue;
    background-color: black;
}

.AnimeScope {
    height: 90px;
    width: auto;
    display: flex;
    overflow: hidden;
    
}

.AnimeScopeImg {
    max-width: 100%;
    max-height: 100%;
}

.cuenta{
    background-color: orange;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px; 
}


.cuerpo {

    border: 2px solid red;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.carrusel {
    background-image: url("https://preview.redd.it/ogmhbsgy8ht61.jpg?auto=webp&s=ed433d03fcb6e88bfd10db2b6e06afd496af32c1");
    display: flex;
    border: 1px solid blue;
    max-height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}
.anime {
    margin: 50px;
    border: 1px solid blueviolet;
    height: 200px;
    width: 150px;
}

